/* .section-3{
    background-color: white;
    width: 98%;
    margin-left: 1%;
    
} */
.section-3-item {
    flex: 1 1 200px;         /* Minimum width for each item */
    max-width: 300px;        /* Optional: Max width for each item */
    height: auto;            /* Adjust height as needed */
    margin-bottom: 10px;     /* Space below each item */
}
  .smartphones {
    display: flex;
    flex-wrap: wrap;         /* Allows items to wrap to the next line */
    gap: 10px;               /* Optional: Space between items */
    justify-content: space-around; /* Optional: Align items across the row */
}

/* .section-3-headline{
padding: 1%;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
}
.section-3-item{
    border: 1px solid rgb(222, 215, 215);
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
    height: 250px;
    width: 100%;
}
.section-3-item img{
    height: 200px;
    
}
.phone-items{
    text-align: center;
}
.span-text{
    display: flex;
    text-align: center;
    font-weight: bold;
}

.section-3-item img{
    height: 150px;
    width: 100%;
    object-fit: contain;
} */

/* Create four equal columns that floats next to each other */
/*
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  */