/* Header */
header {
    background-color: white;
    height: 65px;
}
header .nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
header .nav-container .logo{
    display: flex;
    /* min-width: 137px; */
    justify-content: flex-end;
    margin-left: -3%;
    align-items: center;
}
header .nav-container .logo img{
    width: 160px; 
    height: 40px;
}
header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 22px;
}
header .search .search-container{
    width: 625px;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%); */
    display: flex;
}
header .search .search-container input{
    width: 100%;
    outline: none;
    border: none;
    background: #f0f5ff;
    border-radius: 0px 10px 10px 0px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}
header .search .search-container button{
    width: 38px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #f0f5ff;
    border-radius: 10px 0px 0px 10px;
}
.right-header{
    display: flex;
    margin-left: 0%;
}
header .login{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 35px;
}
.images-brand{
    margin-right: 5%;
}
.cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 35px; 
}
.become-seller{
    height: 100%;
    display: flex; 
    align-items: center;
    margin: 0 20px; 
    width: 165px;
}

/* SECTION 1 */